@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: inherit;
  box-sizing: border-box;
  list-style-type: none;
  color: var(--clr-primary-black: #191919;);
}
html {
  font-size: 16px;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
:root {
  --clr-hover-color: #0077b5;
  --clr-primary: #ed1570;
  --clr-background-alternative: #fef3f8;
  --clr-secondary-color: #764098;
  --clr-primary-linear-gradient: linear-gradient(
    180deg,
    #9c72b3 0%,
    #9669af 100%
  );

  --clr-secondary-black: #4f4f4f;
  --clr-primary-white: #ffffff;
  --clr-primary-black: #191919;
  --clr-text-color: #585858;
  --clr-placeholder-color: #818181;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--clr-text-color);
  line-height: 28px;
}

h4 {
  font-size: 20px;
}

h2 {
  font-size: 28px;

  font-weight: 600;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
h3 {
  font-size: 24px;
}

a {
  font-size: 16px;
}
a > div.primaryBtn {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  width: 110px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  border-radius: 6px;
  padding: 10px;
}

.primaryBtn {
  background: var(--clr-primary-linear-gradient);
  color: var(--clr-primary-white);
}

.secondaryBtn {
  color: #ef5da8;
}

.successBtn {
  background: linear-gradient(
    180deg,
    rgba(64, 153, 89, 0.71) 0%,
    rgba(64, 153, 89, 0.78) 100%
  );
}
.cancel {
  font-size: 13px;
}
section {
  display: flex;
  position: relative;
  height: 100vh;
}
section > .container {
  margin: 0 auto;
  width: 1400px;
  height: 100%;
}
.maincontent {
  height: 100%;
  align-items: center;
  gap: 80px;
}
.maincontent > div {
  flex: 1;
}

#welcome .cricle {
  position: absolute;
  left: -350px;
  top: -300px;
  z-index: -1;
  background: var(--clr-background-alternative);
  height: 83rem;
  width: 83rem;
  border-radius: 50%;
}
#welcome .navbar {
  height: 100px;
}

#welcome .navbar .logo {
  height: 40px;
  width: auto;
  overflow: hidden;
}

#welcome .navbar .sublinks ul {
  gap: 30px;
}
#welcome .navbar .sublinks ul a {
  color: var(--clr-primary-black);
  font-weight: 500;
}

#welcome .maincontent {
  height: calc(100vh - 160px);
}

#welcome .maincontent .leftcontainer h1 {
  margin-bottom: 10px;
}
#welcome .maincontent .leftcontainer h1 span {
  color: var(--clr-primary);
}

#welcome .maincontent .leftcontainer p {
  margin-bottom: 40px;
}

#welcome .maincontent .rightcontainer {
  flex-shrink: 0;
}

#welcome .maincontent .rightcontainer .image {
  height: 35rem;
  overflow: hidden;
}

#About .maincontent .leftcontainer {
  flex-shrink: 0;
}

#About .maincontent .leftcontainer .image {
  height: auto;
}

#About .maincontent .rightcontainer h2 {
  margin-bottom: 30px;
}

#chooseUs .maincontent .leftcontainer h2 {
  margin-bottom: 30px;
}
#chooseUs .maincontent .leftcontainer p {
  margin-bottom: 20px;
}
#chooseUs .maincontent {
  gap: 160px;
}
#chooseUs .maincontent .rightcontainer {
  flex-shrink: 0;
}

#chooseUs .cricle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: var(--clr-background-alternative);
  height: 65rem;
  width: 65rem;
  border-radius: 50%;
}
